~*
.~*
*.bak
bin
.cache
*.class
.directory
*.err
gen
.idea
.idea_modules
log
*.log
.metadata
*.out
*.pid
release.properties
.sass-cache
.scala_dependencies
sloccount.sc
.*.swn
.*.swo
.*.swp
target
tmp
*.tmp
