~*
.~*
*.class
*.bak
*.log
*.tmp
*.out
*.err
*.pid
.*.swp
.*.swo
.*.swn
.directory
.metadata
.idea
.idea_modules
.classpath
.project
.settings
target
sloccount.sc
tmp

.cache
.scala_dependencies
release.properties
.sass-cache

.metals
.bloop
.vscode
